<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zzz.news">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.zzz.news.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/z_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zzz.news.ui.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
       <!-- <activity android:name="com.zzz.news.ui.zhihu.activity.WelcomeActivity">-->
        <!--main-->
        <!--<activity android:name="com.zzz.news.ui.main.activity.MainActivity"/>-->

        <!--zhihu-->
        <activity android:name="com.zzz.news.ui.zhihu.activity.ZhihuDetailActivity"/>
        <activity android:name="com.zzz.news.ui.zhihu.activity.CalendarActivity"/>
        <activity android:name="com.zzz.news.ui.zhihu.activity.CommentActivity"/>
        <activity android:name=".ui.zhihu.activity.ThemeActivity"/>
        <activity android:name=".ui.zhihu.activity.SectionActivity"/>

        <!--meihzi-->
        <activity android:name=".ui.gank.activity.TechDetailActivity"/>
        <activity android:name=".ui.gank.activity.GirlDetailActivity"/>

        <!--wechat-->

        <!--juhe-->
        <activity android:name=".ui.juhe.activity.RobotActivity" android:windowSoftInputMode="adjustPan">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.juhe.activity.JuheDetailActivity"/>
    </application>
    <!--<meta-data-->
        <!--android:value="YOUR_APP_KEY"-->
        <!--android:name="UMENG_APPKEY"/>-->
    <!--<meta-data-->
        <!--android:value="${UMENG_CHANNEL_VALUE} ID"-->
        <!--android:name="UMENG_CHANNEL"/>-->
</manifest>